<div class="right-container">
  <%= image_tag 'gardening.jpg', class: "full-img" %>
</div>

<%= link_to switch_path('homeservices'), method: :post do %>
  <div class="back-top"></div>
<% end %>

<%= link_to switch_path('gardening2'), method: :post do %>
  <div class="gardening2-link"></div>
<% end %>