<div class="right-container">
  <%= image_tag 'gardening2.jpg', class: "full-img" %>
</div>

<%= link_to switch_path('gardening'), method: :post do %>
  <div class="back-top"></div>
<% end %>

<%= link_to switch_path('gardening3'), method: :post do %>
  <div class="hangup-link"></div>
<% end %>