<div class="right-container">
  <%= image_tag 'gardening3.jpg', class: "full-img" %>
</div>

<%= link_to switch_path('gardening2'), method: :post do %>
  <div class="back-top"></div>
<% end %>

<%= link_to switch_path('dashboard'), method: :post do %>
  <div class="hangup-link"></div>
<% end %>