<div class="right-container">
  <%= image_tag 'home.jpg', class: "full-img" %>
</div>

<%= link_to switch_path('services'), method: :post do %>
  <div class="back-top"></div>
<% end %>

<%= link_to switch_path('gardening'), method: :post do %>
  <div class="homecategory-gardening-link"></div>
<% end %>
