<div class="right-container">
  <div class="menu-1">
   <h1 class="menu-title">FIND ACTIVITIES</h1>
 </div>

 <div class="menu-2a">
  <div class="activities-calendar">
    <div class="col-xs-1"></div>
    <div class="col-xs-1">
      <span class="circle">M</span>
      <h3>Monday</h3>
    </div>
    <div class="col-xs-1 margin10">
      <span class="circle">T</span>
      <h3>Tuesday</h3>
    </div>
    <div class="col-xs-1">
      <span class="circle">W</span>
      <h3>Wednes.</h3>
    </div>
    <div class="col-xs-1 margin10">
      <span class="circle">T</span>
      <h3>Thursday</h3>
    </div>
    <div class="col-xs-1">
      <span class="circle">F</span>
      <h3>Friday</h3>
    </div>
    <div class="col-xs-1 margin10">
      <span class="circle">S</span>
      <h3>Saturday</h3>
    </div>
    <div class="col-xs-1">
      <span class="circle">S</span>
      <h3>Sunday</h3>
    </div>
  </div>
</div>
<div class="menu-3a">
  <h2 class="menu-subtitle">23/07/2014</h2>
</div>
<div class="menu-4a">
  <div class="row activities-list">
    <div class="col-xs-3 nopadding">
     <%= image_tag 'skydiving.png', class: "activities-img" %>
    </div>
    <div class="col-xs-7">
      <h2 class="menu-subtitle">Skydiving</h2>
      <h3>10:00 - 3 Cloud Street</h3>
    </div>
  </div>
  <div class="row activities-list">
    <div class="col-xs-3 nopadding">
      <%= image_tag 'soccer.png', class: "activities-img" %>
    </div>
    <div class="col-xs-7">
    <h2 class="menu-subtitle">Soccer game</h2>
      <h3>14:00 - Cal Poly Stadium</h3>
    </div>
  </div>
  <div class="row activities-list">
    <div class="col-xs-3 nopadding">
    <%= image_tag 'dancing.png', class: "activities-img" %>
    </div>
    <div class="col-xs-7">
    <h2 class="menu-subtitle">Tango lessons</h2>
      <h3>16:00 - Dance Factory</h3>
    </div>
  </div>
</div>

</div>