<em><em><em><!DOCTYPE html>
  <html>
  <head>
    <title>Le Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href = "css/bootstrap.min.css" rel = "stylesheet">
    <link href = "css/styles.css" rel = "stylesheet">
        <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">
        <script type="text/javascript">
      function detectmob() {
         if( navigator.userAgent.match(/Android/i)
         || navigator.userAgent.match(/webOS/i)
        || navigator.userAgent.match(/iPhone/i)
        || navigator.userAgent.match(/iPad/i)
        || navigator.userAgent.match(/iPod/i)
        || navigator.userAgent.match(/BlackBerry/i)
        || navigator.userAgent.match(/Windows Phone/i)
        ){
          return true;
          } else {
          return false;
          }
      }


      window.onload = function () {
        // var screenHeight = screen.height;
        // var screenWidth = screen.width;
        // myimg = document.getElementById('backgroundImage');
        // var ratio = myimg.height / screenHeight;
        // myimg.height = myimg.height / ratio;
        // myimg.width = myimg.width / 1;


        var t=setInterval(checkUpdatePage,1000);

        // if(detectmob()){
        // }
      }

      function checkUPdatePage(){
        $('#myForm')
            .ajaxForm({
                url : 'myscript.php', // or whatever
                dataType : 'json',
                success : function (response) {
                    var val = response.find('updated').val();
              if(val){
                requestUpdatePage();
              }
                }
            })
      }

      // function checkUpdatePage(){
      //     var form = document.createElement("form");
      //     form.setAttribute("method", "get");
      //     form.setAttribute("action", "http://lebook.herokuapp.com/pages/check");
      //     document.body.appendChild(form);
      //     form.submit(function(event) {
      //      event.preventDefault();
      //      var val = $(this).find('updated').val();
      //    console.log("checkUpdatePage return value:"+val);
      //
      //    if(val){
      //      requestUpdatePage();
      //    }
      //    deferred.success(function () {
      //          // Do your stuff.
      //      });
      //      deferred.error(function () {
      //          // Handle any errors here.
      //      });
      //  });
      // }
      //

      function requestUpdatePage(){
        var form = document.createElement("form");
          form.setAttribute("method", "get");
          form.setAttribute("action", "http://lebook.herokuapp.com/pages/show");
          document.body.appendChild(form);
          form.submit();
      }

      function show_content(){
          var form = document.createElement("form");
          form.setAttribute("method", "get");
          form.setAttribute("action", "http://lebook.herokuapp.com");

          // for(var key in params) {
          //     if(params.hasOwnProperty(key)) {
                  var hiddenField = document.createElement("input");
                  hiddenField.setAttribute("type", "hidden");
                  hiddenField.setAttribute("name", "button_id");
                  hiddenField.setAttribute("value", "3");

                  form.appendChild(hiddenField);
          //      }
          // }

          document.body.appendChild(form);
          form.submit();
        console.log("button clicked");
      }

    </script>
  </head>
  <body style = "background-color:black;">

        <div class="container" style="float:left;">
      <div id="backgroundImage" style="position:absolute; background-image:url(<%= asset_path 'menu.jpg' %>); background-size:contain; background-repeat:no-repeat; display:block; width:100%; height:100%;">
             <div class="row-fluid" style=" width:100%; height:35%;">
              <div style=" display: inline-block; right:0%; width:45%; height:100%;"></div>
                <div style=" display: inline-block; ]width:45%; height:100%;"></div>
             </div>
            <div class="row-fluid" style=" width:100%; height:32%;">
            </div>
            <div class="row-fluid" style=" width:100%; height:32%;">
            </div>
            </div>
    </div>


      <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><script src = "js/bootstrap.js"></script>

    </body>
    </html></em></em></em>