<%= image_tag 'menu.jpg', class: "full-img" %>

  <%= link_to switch_path('activities'), method: :post do %>
    <div class="activities-link"></div>
  <% end %>

<%= link_to "page b", switch_path('b'), method: :post %>
<%= link_to "page c", switch_path('c'), method: :post %>