<h1>This is the menu (left screen)</h1>

<%= link_to "page a", switch_path('a'), method: :post %>
<%= link_to "page b", switch_path('b'), method: :post %>
<%= link_to "page c", switch_path('c'), method: :post %>