/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 */

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #034c85;
  height: 100%;
  width: 100%;
}

.main-container {
  width: 90%;
  height: 90%;
  background-color: lightgray;
  background:rgba(255,255,255,0.2);
  margin: auto auto;
  margin-top: 5%;
}

.menu-title{
  font-size: 300%;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3%;
}

.search-bar {
  width: 60%;
  margin: 0 auto;
}

.menu-1 {
  height: 15%;
}

.menu-2 {
  height: 23%;
  margin-bottom: 5px;
}

.menu-3 {
  height: 26%;
  margin-bottom: 5px;
}

.menu-4 {
  height: 22%;
  margin-bottom: 10px;
}

.red {
  background: red;
}

.blue {
  background:blue;
}

.menu-subtitle {
  font-size: 300%;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3%;
}

.lg-input{
  height: 60px;
}

h3 {
  font-size: 150%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}


.right-container {
  width: 90%;
  height: 90%;
  margin: auto auto;
}

.circle {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  text-align: center;
  font-size: 2em;
}

.margin10 {
  margin-left: 20px;
  margin-right: 20px;
}

.menu-2a {
  height: 15%;
}

.menu-3a {
  height: 15%;
}

.menu-4a {
  height: 50%;
}

.activities-list {
  width: 100%;
  margin-top: 10px;
  background-color: lightgray;
  background:rgba(255,255,255,0.2);
}

.nopadding{
  padding-left: 0px;
}

.menu-img {
  height: 80%;
  width: 80%;
}